<div class="box">
    <div class="links">
        <div><%= link_to "ユーザー", admins_path, class:"fas fa-users admin-menu" %></div>
        <div><%= link_to "ジャンル", genres_path, class:"fas fa-tshirt admin-menu" %></div>
    </div>
</div>