<div class="box">
    <div class="links">
        <% link_to "退会済みユーザー", delete_users_admin_path, class:"admin-menu" %>
        <% link_to "登録ユーザー", admins_path, class:"admin-menu" %>
    </div>
</div>