<header class="container-fluid">
    <div class="row">
        <div class="col-xs-3 col-sm-4 head-left">
        <div class="login-status">
            <% if admin_signed_in? %>
            <%# ユーザーがログイン中なら、「ログイン中」を表示 %>
            <div class="log-check"><span class="glyphicon glyphicon-user"></span>
            管理者ログイン中</div>
            <% end %>
        </div>
        </div>
        <div class="col-xs-4 col-sm-4 head-center">
            <%= link_to admins_path, class: "header-link" do %>
            <h1>Me</h1>
            <h4>- 24/7 -</h4>
            <% end %>
        </div>
        <div class="col-xs-5 col-sm-4 head-right head-menu">

        <%# ログイン機能 %>
            <div class="login-status pull-right">
                <% if admin_signed_in? %>

                    <%# ユーザーがログイン中なら、「ログアウト」「設定アイコン」を表示 %>
                    <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %><br>

                    <div class="col-md-6">
                        <div class="new-post-link" >
                            <%= link_to "", admin_path, class: "fas fa-cogs" %>
                        </div>
                    </div>
                <% else %>
                    <%= link_to "ログイン", new_end_user_session_path %><br>
                <% end %>
            </div>
        </div>
    </div>
</header>
