<footer class="container-fluid">
    <div class="row">
    <div class="footer">
        <%# <div class="comment-img-box">
            <%=# image_tag "トルソーアイコン1.png", id: "comment-img" %>
        <%# </div> %>
        Copyright Me All Right Reserved.
    </div>
    </div>
</footer>