<%# Font Awesome %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <%# 投稿ページ %>
            <h2 class="page-title">投稿フォーム</h2>

            <%= form_for(@post) do |f| %>

            <h4>本文</h4>
            <%= f.text_area :comment %>

            <h4>画像</h4>
            <%= f.attachment_field :image %>

            <%= f.submit '投稿' %>

            <% end %>

        <div class="col-md-2"></div>


        </div>
    </div>
</div>