// Place all the styles related to the EndUsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// ユーザーページ

    // タブ
.tab-group{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.tab{
    flex-grow: 1;
    padding:5px;
    list-style:none;
    border:solid 1px #CCC;
    text-align:center;
    cursor:pointer;
}
.panel-group{
    height:100px;
    border-top:none;
}
.panel{
    display:none;
}
.tab.is-active{
    background:#F00;
    color:#FFF;
    transition: all 0.2s ease-out;
}
.panel.is-show{
    display:block;
}

.image-box{
    float: left;
}

.post-image{
    width:281px;
    height:281px;
    object-fit:cover;
}


    // 写真、プロフィール情報
.fas{
    font-size: 20px;
    color: black;
    padding: 8px 0;
}

.img{
    border-radius: 50%;
    margin: 30px 0 0 0;
}

.show{
    margin-bottom: 20px;
    // margin-left: 200px;
}

#user-name{
    margin-top: 50px;
}

.fa-cogs{
    margin-left: 195%;
}




    // ヘッダー

.header-link{
    color: #FFF;
    text-align: center;
}

header{
    background-color: rgba( 0, 0, 0, 0.8);
    margin-bottom: 20px;
}

.log-check{
    color: #FFF;
}

.login-status a{
    color: #FFF;
}


    // setting画面
.setting-btn{
    width: 350px;
    height: 45px;
}

.setting-link{
    margin-bottom: 25px;
}

.setting-page{
    margin-bottom: 45px;
}


    // メールアドレス変更画面
.actions{
    margin-bottom: 25px;
}

